<div>
  <h1>Pipes no tan comunes</h1>

  <p>Pipes incluidos en Angular - usualmente en Common Module</p>
</div>

<div class="p-grid">
  <div class="p-col p-md-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      Saludos {{ nombreMasc }} es un placer
      {{ genero | i18nSelect: invitacionMap }} a nuestro evento
      <br />
      <br />
      <button
        pButton
        type="button"
        label="Cambiar Nombre"
        (click)="cambiar(nombreMasc)"
      ></button>
    </p-fieldset>
  </div>

  <div class="p-col p-md-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      {{ clientes.length | i18nPlural: clientesMap }}
      <br /><br />
      <button
        pButton
        type="button"
        label="Eliminar Cliente"
        (click)="Eliminar()"
      ></button>
    </p-fieldset>
  </div>

  <div class="p-col p-md-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
       <b>Original</b>
       <pre>{{clientes}}</pre>

       <b>Slice: 0:2</b>
       <pre>{{clientes | slice:0:2}}</pre>
    </p-fieldset>
  </div>

  <div class="p-col p-md-6">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
       <ul>
         <li *ngFor="let item of persona | keyvalue">
            <b>{{item.key}} :</b> {{item.value}}
         </li>
       </ul>
    </p-fieldset>
  </div>

  <div class="p-col p-md-6">
    <p-fieldset legend="Async Pipe" [toggleable]="true">
      <pre>{{miObservable | async}}</pre>
    </p-fieldset>
  </div>
</div>
